/* content layout */
.content_wrap{min-height:100%;padding:50px 140px 100px 110px;background:#fff;border-radius:30px 0 0 0;}
.mt_60{margin-top: 60px !important;}
.w_50p{width:50% !important;}
.w_70p{width:70% !important;}
.w_100p{width:100% !important;}

/* 타이틀 */
.title{height: 50px;line-height: 50px;font-size: 28px;font-weight: 700;color: #000;position:relative;}
.title:before{content:'';display:block;position:absolute;left:0;top:0;width:50px;height:50px;}
.title[class*="ico_"]{padding-left:50px;}
.title.ico_bookmark:before{background:url(../images/contents/ico_bookmark.png) no-repeat 0 0;}
.title.ico_crown:before{background:url(../images/contents/ico_crown.png) no-repeat 0 0;}
.title.ico_door:before{background:url(../images/contents/ico_door.png) no-repeat 0 0;}
.title.ico_new:before{background:url(../images/contents/ico_new02.png) no-repeat 0 0;}
.title.ico_bookmark_none:before{background:url(../images/contents/ico_bookmark_none.png) no-repeat 0 0;}
.subtit{line-height: 30px;font-size: 22px;font-weight: 500;color: #333;margin-top: 30px;}
.subtit .txt_red{margin-left: 20px;}
.subtit_double_chk{position:relative;line-height: 32px;font-size: 20px;font-weight: 500;color: #455BA9;margin-top: 30px;padding-left: 32px;}
.subtit_double_chk:before{content:'';position:absolute;left:0;top:5px;display:block;width:24px;height:24px;background:url(../images/contents/ico_check_double.png) center center no-repeat;}

/* 버튼 */
.btn_area{margin-top: 40px;}
.btn_area button{margin-left: 10px;}
.btn_area button:first-of-type{margin-left: 0;}
.btn_area .fl_l button{margin-right: 10px;}
.btn_area.btn_center{text-align:center;}
.btn_confirm{padding: 0px 40px;border: none;background: #455BA9;box-shadow: 0px 4px 20px rgba(115, 115, 115, 0.3);border-radius: 8px;outline: 0;}
.btn_confirm:hover{background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #455BA9;}
.btn_confirm span{font-size:16px;color:#fff;line-height: 44px;}
.btn_modify{padding: 0px 40px;border: none;background: #7694FF;box-shadow: 0px 4px 20px rgba(115, 115, 115, 0.3);border-radius: 8px;outline: 0;}
.btn_modify:hover{background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #7694FF;}
.btn_modify span{font-size:16px;color:#fff;line-height: 44px;}
.btn_cancel{padding: 0px 40px;border: none;background: #818898;box-shadow: 0px 4px 20px rgba(115, 115, 115, 0.3);border-radius: 8px;outline: 0;}
.btn_cancel:hover{background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #818898;}
.btn_cancel span{font-size:16px;color:#fff;line-height: 44px;}
.btn_custom01{padding: 0px 40px;border: none;border:1px solid #BDBDBD; background: #FFFFFF;box-shadow: 0px 4px 20px rgba(115, 115, 115, 0.3);border-radius: 8px;outline: 0;}
.btn_custom01 span{font-size:16px;color:#545557;line-height: 44px;}
.btn_custom01:hover span{color:#345FF9;}
.btn_custom02{padding: 0px 9px;border: none;background: #83879F;border-radius: 4px;outline: 0;box-shadow: 0px 4px 20px rgba(115, 115, 115, 0.3);}
.btn_custom02 span{font-size:14px;color:#fff;line-height: 34px;}
.btn_custom02:hover{background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #83879F;}
.btn_custom03{padding: 0px 9px;border: none;background: #455BA9;border-radius: 4px;outline: 0;box-shadow: 0px 4px 20px rgba(115, 115, 115, 0.3);}
.btn_custom03 span{font-size:14px;color:#fff;line-height: 34px;}
.btn_custom03:hover{background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #455BA9;}
.btn_custom04{padding: 0px 9px;border: none;background: #F44462;border-radius: 4px;outline: 0;box-shadow: 0px 4px 20px rgba(115, 115, 115, 0.3);}
.btn_custom04 span{font-size:14px;color:#fff;line-height: 34px;}
.btn_custom04:hover{background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #F44462;}
.btn_download{padding: 0px 22px 0px 42px;border: none;background: #455BA9 url(../images/contents/ico_download.png) no-repeat left 22px center;border-radius: 8px;outline: 0;}
.btn_download:hover{background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #455BA9  url(../images/contents/ico_download.png) no-repeat left 22px center;}
.btn_download span{font-size:14px;color:#fff;line-height: 34px;}
.btn_sms{padding: 0px 22px 0px 42px;border: none;background: #455BA9 url(../images/contents/ico_sms.png) no-repeat left 22px center;border-radius: 8px;outline: 0;}
.btn_sms:hover{background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #455BA9 url(../images/contents/ico_sms.png) no-repeat left 22px center;}
.btn_sms span{font-size:14px;color:#fff;line-height: 34px;}
.btn_excel{padding: 0px 22px 0px 42px;border: none;background: #455BA9 url(../images/contents/ico_excel.png) no-repeat left 22px center;border-radius: 8px;outline: 0;}
.btn_excel:hover{background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #455BA9 url(../images/contents/ico_excel.png) no-repeat left 22px center;}
.btn_excel span{font-size:14px;color:#fff;line-height: 34px;}
a.btn_search{display:inline-block;line-height:48px;padding:0 35px;font-size:14px;color:#fff;background:#818898;text-align:center;vertical-align: top;}
.btn_custom_L{padding: 0px 22px;}

/* 태그 */
.tag{display:inline-block;min-width:70px;height:34px;line-height: 34px;text-align: center;border-radius: 25px;color: #fff;font-size: 14px;font-weight: 500;}
.tag.small{min-width:54px;height:30px;line-height:30px;}
.tag.blue{background: #7694FF;}
.tag.org{background: #FC8C0E;}
.tag.gray{background: #818898;}
.tag.green{background: #51C07F;}
.tag.red{background: #F44462;}
.tag.navy{background: #455BA9;}

/* 페이징 */
.comp_paging{text-align: center;margin-top: 40px;}
.comp_paging a{display:inline-block;vertical-align:top;}
.comp_paging a span{display:inline-block;width: 32px;height: 32px;line-height: 28px;text-align: center;background:#fff;border: 1px solid #D4D8DB;}
.comp_paging a:hover span{border: 1px solid #7694FF;color: #7694FF;}
.comp_paging a .prev01{text-indent: -9999px;background:#fff url(../images/contents/ico_prev.png) no-repeat center;}
.comp_paging a:hover .prev01{background:#fff url(../images/contents/ico_prev.png) no-repeat center;}
.comp_paging a .prev02{text-indent: -9999px;background:#fff url(../images/contents/ico_prev02.png) no-repeat center;}
.comp_paging a:hover .prev02{background:#fff url(../images/contents/ico_prev02.png) no-repeat center;}
.comp_paging a .next01{text-indent: -9999px;background:#fff url(../images/contents/ico_next.png) no-repeat center;}
.comp_paging a:hover .next01{background:#fff url(../images/contents/ico_next.png) no-repeat center;}
.comp_paging a .next02{text-indent: -9999px;background:#fff url(../images/contents/ico_next02.png) no-repeat center;}
.comp_paging a:hover .next02{background:#fff url(../images/contents/ico_next02.png) no-repeat center;}

/* 셀렉트박스 */
select {width:100%;height:38px;padding:0px 40px 0px 16px;border:1px solid #D4D8DB;border-radius: 4px;background:#fff url(../images/contents/ico_select.png) right 8px center no-repeat;appearance:none;outline: 0;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;}
select::-ms-expand {display:none;}

/* 인풋 */
input{display:inline-block;width:100%;height:38px;border:1px solid #D4D8DB;background: #fff;padding:0 16px;border-radius: 4px;line-height:38px;outline: 0;}
input:read-only {background-color: #F0F2F8 !important;color: #B0B0B0 !important;}
input.readonly {background-color: #F0F2F8 !important;color: #B0B0B0 !important;}

/* 텍스트영역 */
textarea{display:inline-block;width:100%;height:80px;border:1px solid #D4D8DB;background: #fff;padding:10px 16px;border-radius: 4px;outline: 0;}

/* 체크박스 */
.style_chk{display:inline-block;margin-right: 20px;}
.style_chk input[type="checkbox"] {display:none;}
.style_chk input[type="checkbox"] + label span {display:inline-block;width:24px;height:24px;margin:-2px 10px 0 0;vertical-align:middle;background:url(../images/contents/ico_chk_off.png) center center no-repeat;cursor:pointer;}
.style_chk input[type="checkbox"]:checked + label span {background:url(../images/contents/ico_chk_on.png) center center no-repeat;}

/* 라디오박스 */
.style_rdo{display:inline-block;margin-right: 20px;}
.style_rdo input[type="radio"] {display:none;}
.style_rdo input[type="radio"] + label span {display:inline-block;width:24px;height:24px;margin:-2px 10px 0 0;vertical-align:middle;background:url(../images/contents/ico_rdo_off.png) center center no-repeat;cursor:pointer;}
.style_rdo input[type="radio"]:disabled + label span {background:url(../images/contents/ico_rdo_off_disabled.png) center center no-repeat;}
.style_rdo input[type="radio"]:checked + label span {background:url(../images/contents/ico_rdo_on.png) center center no-repeat;} 

/* 리플 */
.comp_reply{border: 1px solid #D4D8DB;filter: drop-shadow(0px 2px 4px #EFF2F7);border-radius: 5px;overflow: hidden;margin-top: 30px;}
.reply_output{height:94px;padding: 22px 32px;background:#fff;overflow: auto;}
.reply_view{display:table;max-width:70%;margin-top: 22px;}
.reply_view:first-of-type{margin-top: 0;}
.reply_view .reply_user{display:table-cell;width: 50px;vertical-align: top;}
.reply_view .reply_user .circle{display:inline-block;width: 50px;height:50px;background: linear-gradient(180deg, #5B7AEB 0%, #7694FF 100%);border-radius: 50px;line-height: 50px;text-align: center;color: #fff;font-size: 14px;}
.reply_view .reply_message{display:table-cell;vertical-align: middle;padding-left: 30px;}
.reply_view .reply_message .message_cont{position:relative;display:inline-block;width:100%;border: 1px solid #D4D8DB;line-height: 24px;padding: 15px 30px 14px 30px;border-radius: 13px;background: #fff;}
.reply_view .reply_message .message_cont:before{content: '';display:block;position:absolute;top:8px;left:-17px;width:17px;height:37px;background: url(../images/contents/bg_bubble02.png) top left no-repeat;}
.reply_view .reply_message .message_cont .message_left{float: left;margin-right: 30px;color: #666;}
.reply_view .reply_message .message_cont .message_center{display:inline-block;}
.reply_view .reply_message .message_cont .message_right{float: right;margin-left: 30px;color: #666;}
.reply_view.left{float: left;}
.reply_view.right{float: right;}
.reply_view.right .reply_message{padding-right: 30px;}
.reply_view.right .reply_message .message_cont{background: #F0F2F8;}
.reply_view.right .reply_message .message_cont:before{top:8px;left:auto;right:-20px;width:20px;background: url(../images/contents/bg_bubble01.png) top left no-repeat;}
.reply_input{padding: 22px 32px;background:#F0F2F8;}
.reply_input input{display:block;width:100%;height:53px;border:none;background: #fff;padding:0 30px;border-radius: 4px;line-height:38px;outline: 0;}

/* 프로세스 리스트형 */
.process_wrap{display:block;margin-top: 60px;}
.process_wrap li{margin-top: 18px;}
.process_wrap li:first-of-type{margin-top: 0;}
.process_wrap .obj_box{padding: 25px 35px;background: #F9FAFC;border: 1px solid #D4D8DB;box-shadow: 0px 2px 4px #EFF2F7;border-radius: 8px;}
.process_wrap .obj_box .upper{padding: 0 0 25px 0;}
.process_wrap .obj_box .lower{padding: 0 65px;}
.process_wrap .obj_box .num{display:inline-block;width:36px;height:31px;line-height:31px;text-align:center;background:#F0F2F8;color: #191D21;font-weight: 500;margin-right: 30px;border-radius: 4px;}
.process_wrap .obj_box .tag{margin-right: 15px;}
.process_wrap .obj_box .title{display:inline-block;height:auto;line-height:31px;font-size:18px;font-weight:500;cursor: pointer;}
.process_wrap .obj_box .info{display:inline-block;padding-right: 30px;}
.process_wrap .obj_box .info:last-of-type{padding-right: 0;}
.process_wrap .obj_box .info span{position:relative;display:inline-block; color:#222;}
.process_wrap .obj_box .info span:first-of-type{margin-right: 10px;padding-right: 10px;color:#666;}
.process_wrap .obj_box .info span:first-of-type:before{content: '';display:block;position:absolute;top:6px;right:0;width:1px;height:14px;background:#BDBDBD;}
.process_wrap .obj_box .info.graph .bar{position:relative;display:inline-block;width: 200px;height:13px;background: #E8E8E8;box-shadow: 0px 0px 8px #F3F3F3, inset 0px 2px 2px rgba(0, 0, 0, 0.06);border-radius: 40px;margin-right: 10px;}
.process_wrap .obj_box .info.graph .bar i{position:absolute;top:0;left:0;display:inline-block;height:13px;text-indent: -9999px;background: #51C07F;box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.2);border-radius: 20px;}
.process_wrap .obj_box .info.status .blue{color:#345FF9;}
.process_wrap .obj_box .info.status .red{color:#F44462;}

/* 프로세스 리스트형02 */
.process_wrap.type_list02{margin-top: 20px;}
.process_wrap.type_list02 .obj_box{position:relative;}
.process_wrap.type_list02 .obj_box .title,
.process_wrap.type_list02 .obj_box .info{padding-right: 50px;}
.process_wrap.type_list02 .obj_box .upper{padding: 0 150px 15px 0;}
.process_wrap.type_list02 .obj_box .lower{padding: 0 150px 0 70px;}
.process_wrap.type_list02 .obj_box .lower:before{content: '';display:inline-block;width:10px;height:24px;background:url(../images/contents/ico_reply.png) center center no-repeat;margin-right: 10px;vertical-align:top;}
.process_wrap.type_list02 .obj_box .right_area{position:absolute;;width:150px;top:50%;right:0;text-align: center;margin-top: -17px;}

/* 프로세스 카드형 */
.process_wrap.type_card{margin-left:-40px;overflow: hidden;}
.process_wrap.type_card li{float:left;width:25%;margin-top: 40px;}
.process_wrap.type_card li:nth-child(1), .process_wrap.type_card li:nth-child(2), .process_wrap.type_card li:nth-child(3), .process_wrap.type_card li:nth-child(4){margin-top:0;}
.process_wrap.type_card .obj_box{position:relative;padding: 20px;margin-left:40px;}
.process_wrap.type_card .obj_box .lower{padding: 0 0 23px 0;}
.process_wrap.type_card .obj_box .num{display:none;}
.process_wrap.type_card .obj_box .tag{display:block;margin-bottom:15px;}
.process_wrap.type_card .obj_box .title{display:block;height:auto;}
.process_wrap.type_card .obj_box .info{display:block;padding:0 0 15px 0;}
.process_wrap.type_card .obj_box .info.author{position:relative;display:block;padding:0 0 20px 0;margin-bottom:22px;}
.process_wrap.type_card .obj_box .info.author:before{content: '';display:block;position:absolute;bottom:0;left:0;width:100%;height:1px;background:#D4D8DB;}
.process_wrap.type_card .obj_box .info.graph{position:absolute;left:0;bottom:20px;display:block;width:100%;padding:0 20px;}
.process_wrap.type_card .obj_box .info.graph span{display:block;}
.process_wrap.type_card .obj_box .info.graph span:first-of-type{display:none;}
.process_wrap.type_card .obj_box .info.graph .bar{width:-webkit-calc(100% - 50px);width:calc(100% - 50px);}
.process_wrap.type_card .obj_box .info.graph em:last-of-type{position:absolute;top:0;right:0;width:50px;text-align: right;}
.process_wrap.type_card .obj_box .info.status{position:absolute;top:23px;right:20px;}
.process_wrap.type_card .obj_box .info.status span:first-of-type{display:none;}
.process_wrap.type_card .obj_box .info.date{display:block;}
.process_wrap.type_card .obj_box .info.term{display:block;}
.process_wrap.type_card .obj_box .info.views{display:none;}

/* member_area */
.member_area{overflow: hidden;padding-bottom: 23px;border-bottom: 1px solid #F0F2F8;margin-top: 12px;}
.member_area dl dt{display:inline-block;font-size: 18px;color: #222;}
.member_area dl{float: left;}
.member_area dl dd{display:inline-block;font-size: 18px;color: #666;margin-left: 10px;}
.member_area .master{position:relative;padding:0 20px 0 30px;margin:0 20px 0 15px;background:url(../images/contents/ico_s_crown.png) center left no-repeat;}
.member_area .master:before{content: '';display:block;position:absolute;top:6px;right:0;width:1px;height:16px;background:#BDBDBD;}
.member_area .crew{padding:0 20px 0 30px;background:url(../images/contents/ico_s_member.png) center left no-repeat;}
.member_area ul{float: right;border-radius: 5px;background: #F0F2F8;}
.member_area ul li{float:left;}
.member_area ul li a{display:inline-block;width:35px;height:35px;}
.member_area ul li a span{display:inline-block;text-indent:-9999px;font-size: 0;}
.member_area ul li .btn_list{background:url(../images/contents/ico_list_off.png) center center no-repeat;}
.member_area ul li .btn_list.on{background:url(../images/contents/ico_list_on.png) center center no-repeat;}
.member_area ul li .btn_card{background:url(../images/contents/ico_card_off.png) center center no-repeat;}
.member_area ul li .btn_card.on{background:url(../images/contents/ico_card_on.png) center center no-repeat;}

/* tbl_wrap */
.tbl_wrap{position:relative;margin-top: 30px;}
.tbl_wrap .txt_essen{position:absolute;top:-40px;right:0;color:#F44462;}
.tbl_wrap.first_colspan table{table-layout: auto;} 
.tbl_wrap table{width:100%;border-top:2px solid #444444;}
.tbl_wrap table th{width:15%;min-height:60px;border-left:1px solid #D4D8DB;border-bottom:1px solid #D4D8DB;background: #FAFBFC;padding:17px 36px;text-align:left;vertical-align:top;}
.tbl_wrap table th:first-child{border-left:none;}
.tbl_wrap table th .essen{margin-left: 5px;color:#F44462;}
.tbl_wrap table td{min-height:60px;border-left:1px solid #D4D8DB;border-bottom:1px solid #D4D8DB;padding:10px 36px;vertical-align:middle;color: #666;}
.tbl_wrap table td a{display:inline-block;color: #666;}
.tbl_wrap table td .line_2nd{clear:both;margin-top: 10px;}
.tbl_wrap table td .line_2nd button{margin-left: 0;}
.tbl_wrap table td .input{display:inline-block;width:70%;}
.tbl_wrap table td .input + button{margin-left:10px;}
.tbl_wrap table td .input_cal{position:relative;display:inline-block;width:50%;height:38px;border:1px solid #D4D8DB;background: #fff;border-radius: 4px;padding:0 16px;}
.tbl_wrap table td .input_cal .cal_date{display:inline-block;width:-webkit-calc(100% - 20px);width:calc(100% - 20px);line-height:38px;overflow: hidden;}
.tbl_wrap table td .input_cal .ico_cal{position:absolute;top:6px;right:6px;display:inline-block;width:24px;height:24px;background:#fff url(../images/contents/ico_cal.png) center center no-repeat;text-indent:-9999px;}
.tbl_wrap table td .input_cal02{display:inline-block;vertical-align: middle;}
.tbl_wrap table td .input_cal02 .cal_date{display:inline-block;width:140px;padding:0 16px;line-height:38px;border:1px solid #D4D8DB;background: #fff;border-radius: 4px;overflow: hidden;}
.tbl_wrap table td .input_cal02 .ico_cal{display:inline-block;width:24px;height:40px;background:#fff url(../images/contents/ico_cal.png) center center no-repeat;text-indent:-9999px;vertical-align: top;margin-left: 10px;}
.tbl_wrap table td .txt_wave{display:inline-block;margin: 0 30px;}
.tbl_wrap table td .btn_custom02{margin-left: 10px;}

.tbl_wrap table td .cal_sel{display:inline-block;width:30%;margin-left: 10px;vertical-align:top;}
.tbl_wrap table td .cal_sel.w_140{width:140px;margin-left: 20px;}
.tbl_wrap table td .cal_sel:first-child,
.tbl_wrap table td .txt_wave + .cal_sel{margin-left: 0;}
.tbl_wrap table td .file_list div{display:table;margin-top: 10px;}
.tbl_wrap table td .file_list.nobtn div:first-of-type{margin-top: 0;}
.tbl_wrap table td .file_list span{display:table-cell;color:#666;padding-left:10px;vertical-align:middle;}
.tbl_wrap table td .file_list .btn_custom02 span{color:#fff;padding: 0;vertical-align: baseline;}
.tbl_wrap table td .file_list .ico_file{display:table-cell;width:24px;height:24px;background:url(../images/contents/ico_s_file.png) center center no-repeat;text-indent:-9999px;}
.tbl_wrap table td .file_list .btn_del{display:table-cell;color:#818898;background:url(../images/contents/ico_del.png) center right no-repeat;padding:0 22px 0 20px;}
.tbl_wrap table td .file_list img{display:table-cell;vertical-align:middle;}
.tbl_wrap table td .file_list.img_file{margin-top: -10px;display:flow-root;}
.tbl_wrap table td .file_list.img_file div{float:left;margin-left: 30px;}
.tbl_wrap table td .file_list.img_file div:first-of-type{margin-left: 0;}
.tbl_wrap table td .file_list.img_file.modify .img_area{position:relative;padding-left: 0;}
.tbl_wrap table td .file_list.img_file.modify .img_area:before{content: '';display:block;position:absolute;bottom:0;right:0;width:20px;height:20px;background:url(../images/contents/ico_del02.png) center center no-repeat;cursor: pointer;}

/* form01 */
.tbl_wrap.form01 table td{width:auto}
.tbl_wrap.form01 table td .input{width:30%;}
.tbl_wrap.form01 table td textarea{height:400px;}

/* tbl_wrap horizontal */
.tbl_wrap.horizontal table th{width:auto;min-height:44px;text-align: center;padding: 10px;}
.tbl_wrap.horizontal table td{width:auto;min-height:44px;padding: 10px;text-align: center;}
.tbl_wrap.horizontal table td:first-child{border-left:none;}

/* tbl_wrap tbl_reply_wrap */
.tbl_wrap.tbl_reply_wrap{border-top:2px solid #444444;}
.tbl_wrap.tbl_reply_wrap table{border-top:none;}
.tbl_wrap.tbl_reply_wrap .list_area table th,
.tbl_wrap.tbl_reply_wrap .list_area table td{height:55px;}
.tbl_wrap.tbl_reply_wrap .reply_area table td{background: #F0F2F8;box-shadow: 0px 1px 0px #D4D8DB;}
.tbl_wrap.tbl_reply_wrap .reply_area table td:nth-child(1){width:450px;padding-left: 30px;}
.tbl_wrap.tbl_reply_wrap .reply_area table td:nth-child(1):before{content: '';display:inline-block;width:10px;height:9px;background:url(../images/contents/ico_reply.png) center center no-repeat;margin-right: 10px;}
.tbl_wrap.tbl_reply_wrap .btn_view{display:block;line-height: 55px;text-align: center;border-bottom:1px solid #D4D8DB;}
.tbl_wrap.tbl_reply_wrap .btn_view span{position:relative;display:inline-block;padding-right:30px}
.tbl_wrap.tbl_reply_wrap .btn_view span:before{content: '';display:block;position:absolute;bottom:0;right:0;width:24px;height:24px;background:url(../images/contents/ico_toggle_hide.png) center center no-repeat;}
.tbl_wrap.tbl_reply_wrap .btn_view.hide span:before{content: '';display:block;position:absolute;bottom:0;right:0;width:24px;height:24px;background:url(../images/contents/ico_toggle_more.png) center center no-repeat;}

/* hori_chk */
.tbl_wrap.horizontal.hori_chk table th:nth-child(1){width:100px;}
.tbl_wrap.horizontal.hori_chk table td .style_chk,
.tbl_wrap.horizontal.hori_chk table td .style_chk input[type="checkbox"] + label span{margin-right: 0;}

/* hori01 */
.tbl_wrap.horizontal.hori01 table th:nth-child(1){width:450px;}
.tbl_wrap.horizontal.hori01 table td:nth-child(1){text-align: left;}
/* hori02 */
.tbl_wrap.horizontal.hori02 table th:nth-child(2){width:450px;}
.tbl_wrap.horizontal.hori02 table td:nth-child(2){text-align: left;}
/* hori02_center */
.tbl_wrap.horizontal.hori02_center table th:nth-child(2){width:350px;}
/* hori02_L */
.tbl_wrap.horizontal.hori02_L table th:nth-child(2){width:700px;}
.tbl_wrap.horizontal.hori02_L table td:nth-child(2){text-align: left;}
/* hori03 */
.tbl_wrap.horizontal.hori03 table th:nth-child(3){width:350px;}
/* hori03_L */
.tbl_wrap.horizontal.hori03_L table th:nth-child(3){width:700px;}
.tbl_wrap.horizontal.hori03_L table td:nth-child(3){text-align: left;}
/* hori04 */
.tbl_wrap.horizontal.hori04 table th:nth-child(4){width:350px;}
/* hori04_L */
.tbl_wrap.horizontal.hori04_L table th:nth-child(4){width:700px;}
.tbl_wrap.horizontal.hori04_L table td:nth-child(4){text-align: left;}
/* hori06 */
.tbl_wrap.horizontal.hori06 table th:nth-child(6){width:300px;}
/* hori0456 */
.tbl_wrap.horizontal.hori0456 table th:nth-child(4){width:300px;}
.tbl_wrap.horizontal.hori0456 table th:nth-child(5){width:300px;}
.tbl_wrap.horizontal.hori0456 table th:nth-child(6){width:300px;}

/* comment_wrap */
.comment_wrap{position:relative;margin-top: 60px;}
.comment_wrap:before{content: '';display:block;position:absolute;top:0;right:0;width:100%;height:1px;background:#D4D8DB;}
.comment_wrap .title{height:auto;line-height:20px;font-size: 18px;font-weight: 400;color:#222;padding-top: 40px;}
.comment_wrap .title span{font-size: 18px;color:#345FF9;}

/* comment_list */
.comment_list{margin-top: 30px;}
.comment_list ul{height:578px;overflow: auto;}
.comment_list li{margin-top: 18px;border: 1px solid #BDBDBD;border-radius: 8px;background: #FFFFFF;padding:20px 33px 20px 20px;}
.comment_list li:first-of-type{margin-top: 0;}
.comment_list li .list_box_upper{overflow: hidden;}
.comment_list li .list_box_upper .style_chk{margin: 0;}
.comment_list li .list_box_upper .box_tit{display:inline-block;color:#666;}
.comment_list li .list_box_upper .box_tit.name{margin-left: 11px;}
.comment_list li .list_box_upper .box_tit.department{margin-left: 40px;}
.comment_list li .list_box_upper .box_tit.team{position:relative;margin-left: 10px;padding-left: 10px;}
.comment_list li .list_box_upper .box_tit.team:before{content: '';display:block;position:absolute;top:5px;left:0;width:1px;height:16px;background:#BDBDBD;}
.comment_list li .list_box_upper .box_tit.date{margin-left: 30px;} 
.comment_list li .list_box_upper .status{display:inline-block;min-width:60px;line-height: 30px;background: #818898;color:#fff;border-radius: 25px;padding: 0 10px;text-align: center;margin: 0 25px 0 10px;}
.comment_list li .list_box_upper .status:last-of-type{margin-right: 0;;}
.comment_list li .list_box_upper .status.blue{background: #7694FF;}
.comment_list li .list_box_lower{position:relative;overflow: hidden;margin:15px 0 0 46px;padding-top: 15px;}
.comment_list li .list_box_lower:before{content: '';display:block;position:absolute;top:0;left:0;width:100%;height:1px;background:#BDBDBD;}
.comment_list li .list_box_lower .fl_l{width:-webkit-calc(100% - 24px);width:calc(100% - 24px);}
.comment_list li .list_box_lower .ellipsis{color:#666;}
.comment_list li .list_box_lower .ico_file{display:inline-block;width:24px;height:24px;background:url(../images/contents/ico_s_file.png) center center no-repeat;text-indent:-9999px;}

/* comment_file */
.comment_file{padding:23px 20px;margin-top: 30px;background: #F0F2F8;border-radius: 8px;overflow: hidden;}
.comment_file .style_chk{margin-top: 3px;}
.comment_file .style_chk input[type="checkbox"]:checked + label span{margin-right: 21px;}
.comment_file button{margin-left: 10px;}

/* comment_write */
.comment_write{margin-top: 30px;border: 1px solid #BDBDBD;border-radius: 5px;overflow: hidden;}
.comment_write .write_box{position:relative;}
.comment_write .write_box .textarea{display:inline-block;border: none;width:-webkit-calc(100% - 140px);width:calc(100% - 140px);}
.comment_write .write_box textarea{min-height:115px;border: none;padding: 20px;}
.comment_write .write_box .btn_file{position:absolute;top:20px;right:20px;display:inline-block;width:24px;height:24px;background:url(../images/contents/ico_file.png) center center no-repeat;text-indent:-9999px;}
.comment_write .write_box .btn_modify{position:absolute;top:60px;right:20px;}
.comment_write .write_file{background: #FAFBFC;padding:20px;}
.comment_write .write_file .file_list{margin-top: 10px;}
.comment_write .write_file .file_list li{display:inline-block;background: #F0F2F8;border-radius: 50px;padding: 0 15px;margin-left: 20px;}
.comment_write .write_file .file_list li:first-of-type{margin-left: 0;}
.comment_write .write_file .file_list .file_name{line-height:40px;font-size: 14px;}
.comment_write .write_file .file_list .file_name .gray{font-size: 14px;color:#818898;}
.comment_write .write_file .file_list .btn_del{display:inline-block;width:20px;height:26px;background:url(../images/contents/ico_del.png) center center no-repeat;margin-left:10px;text-indent: -9999px;}

/* modal_wrap */
body.noscl{overflow: hidden;}
.modal_wrap{position:relative;width:100%;z-index:1000;}
.modal_wrap .modal_dimmed{position:fixed;top:0;bottom:0;left:0;right:0;z-index:1100;background:#000;opacity:.5;overflow:hidden;}
.modal_wrap .modal{overflow: hidden;}
.modal_wrap input{display:inline-block;width:100%;height:48px;border:1px solid #D4D8DB;background: #fff;padding:0 16px;border-radius: 0;line-height:48px;outline: 0;}
.modal_wrap .input02 input{height:38px;border-radius: 4px;line-height:38px;}
.modal_wrap select {width:100%;height:48px;padding:0px 40px 0px 16px;border:1px solid #D4D8DB;border-radius: 0;background:#fff url(../images/contents/ico_select02.png) right 15px center no-repeat;appearance:none;outline: 0;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;}
.modal_wrap select::-ms-expand {display:none;}
.modal_wrap .btn_area a{display:inline-block;width:20px;height:20px;border:1px solid #D4D8DB;border-radius: 0;text-indent: -9999px;}
.modal_wrap .btn_area .btn_up01{background:#fff url(../images/contents/ico_up01.png) center center no-repeat;}
.modal_wrap .btn_area .btn_up02{background:#fff url(../images/contents/ico_up02.png) center center no-repeat;}
.modal_wrap .btn_area .btn_down01{background:#fff url(../images/contents/ico_down01.png) center center no-repeat;}
.modal_wrap .btn_area .btn_down02{background:#fff url(../images/contents/ico_down02.png) center center no-repeat;}
.modal_wrap .btn_area .btn_left{background:#fff url(../images/contents/ico_left.png) center center no-repeat;border-radius: 3px;}
.modal_wrap .btn_area .btn_right{background:#fff url(../images/contents/ico_right.png) center center no-repeat;border-radius: 3px;}
.modal_wrap .madal{position:fixed;top:50%;left:50%;width:600px;background:#fff;margin-left:-300px;padding: 30px 60px 60px 60px;filter: drop-shadow(0px 10px 40px rgba(0, 0, 0, 0.15));border-radius: 16px;z-index:1500;}
.modal_wrap .btn_area{margin-top: 30px;}
.modal_wrap .btn_close{position:absolute;top:20px;right:20px;display:inline-block;width:25px;height:25px;background:#fff url(../images/contents/ico_close.png) center center no-repeat;}
.modal_wrap .modal_content{margin-top: 30px;}
.modal_wrap .modal_content_inner{margin-top: 10px;}
.modal_wrap table{width: 100%;border-top: 2px solid #444;}
.modal_wrap table th{height:44px;background: #F9FAFC;border-bottom: 1px solid #D4D8DB;border-right: 1px solid #D4D8DB;text-align: center;padding: 0 10px;}
.modal_wrap table td{height:50px;background: #fff;border-bottom: 1px solid #D4D8DB;border-right: 1px solid #D4D8DB;text-align: center;padding: 0 10px;}
.modal_wrap table td.left{text-align: left;}
.modal_wrap table th:last-child,
.modal_wrap table td:last-child{border-right:none;}
.modal_wrap table th .essen{margin-left: 5px;color: #F44462;}
.modal_wrap table td .input02 + button{margin-left: 10px;}
.modal_wrap table .active td{background: #EEF2FF;}
.modal_wrap textarea{height: 105px;}
.modal_wrap .table{position:relative;}
.modal_wrap .modal_tbl_detail .txt_essen,
.modal_wrap .table .txt_essen{position:absolute;top:-30px;right:0;color:#F44462;}
.modal_wrap .ico_lock{position:relative;text-align: center;}
.modal_wrap .ico_lock:before{content:'';position:relative;display:inline-block;width:75px;height:75px;background:#455BA9 url(../images/contents/ico_lock.png) center center no-repeat;border-radius: 75px;}
.modal_wrap .txt_lock{margin-top: 15px;font-weight: 500;font-size: 18px;text-align: center;}
.modal_wrap .txt_lock .txt_blue{display:block; font-weight: 500;font-size: 18px;text-align: center;}

/* madal_search_area */
.madal_search_area01{display:table;margin-top: 10px;} /* 셀렉트 검색 스타일 */
.madal_search_area01 .modal_sel{display:table-cell;width:146px;padding-right:10px;}
.madal_search_area01 .input{display:table-cell;width:239px;padding-right:10px;}
.madal_search_area01 .btn_search{display:table-cell;vertical-align:middle;}
.madal_search_area02{margin-top: 10px;} /* 100% 스타일 */
.madal_search_area03{display:table;margin-top: 25px;}/* 텍스트 검색 스타일 */
.madal_search_area03 .madal_search_title{display:table-cell;width:56px;}
.madal_search_area03 .input{display:table-cell;width:330px;padding-right:10px;}
.madal_search_area03 .btn_search{display:table-cell;vertical-align:middle;}

/* modal_list */
.modal_list{margin-top: 30px;}
.modal_list .group_tit{font-weight: 500;}
.modal_list .modal_sel{display:block;margin-top: 20px;}
.modal_list .register_wrap{display:block;margin-top: 20px;}
.modal_list .register_wrap .btn_area{margin-top: 0;overflow: hidden;}
.modal_list .register_wrap .tbl_area{display:table;margin-top: 20px;}
.modal_list .register_wrap .tbl_area .table{display:table-cell;width:45%;height:100px;vertical-align:top;overflow: hidden;}
.modal_list .register_wrap .tbl_area table{border-left: 1px solid #D4D8DB;}
.modal_list .register_wrap .tbl_area table th:last-child,
.modal_list .register_wrap .tbl_area table td:last-child{border-right:1px solid #D4D8DB;}
.modal_list .register_wrap .tbl_area .btn_area{display:table-cell;width:10%;vertical-align:top;padding: 100px 10px 0;text-align: center;}
.modal_list .register_wrap .tbl_area .btn_area a{display:inline-block;margin-bottom: 5px;}
.modal_list .txt_blue{margin-top:10px;}

/* modal_tbl_list */
.modal_tbl_list{position:relative;min-height:146px;background: #F9FAFC;border-bottom: 1px solid #D4D8DB;}
.modal_tbl_list.nodata:before{content:'검색결과가 없습니다.';display:block;position:absolute;left:50%;top:50%;margin:10px 0 0 -85px;width:auto;line-height:21px;background:url(../images/contents/ico_info.png) left center no-repeat;color:#818898;padding-left: 30px;}
.modal_tbl_list table{border-left: none;}
.modal_tbl_list table th:last-of-type{border-right: none;}
.modal_tbl_list table td:last-of-type{border-right: none;}

/* modal_tbl_detail */
.modal_tbl_detail{position:relative;}
.modal_tbl_detail table{border-left: none;}
.modal_tbl_detail table td{text-align: left;padding: 0 20px;}
.modal_tbl_detail table td:last-of-type{border-right: none;}
.modal_tbl_detail .input02{display:inline-block;width:70%;}

/* sort_wrap */
.sort_wrap{background: #F2F5FF;border: 1px solid #9CA8D2;padding: 30px 0;margin-top: 30px;}
.sort_wrap input{display:inline-block;width:100%;height:48px;border:1px solid #D4D8DB;background: #fff;padding:0 16px;border-radius: 0;line-height:48px;outline: 0;}
.sort_wrap select {width:100%;height:48px;padding:0px 40px 0px 16px;border:1px solid #D4D8DB;border-radius: 0;background:#fff url(../images/contents/ico_select02.png) right 15px center no-repeat;appearance:none;outline: 0;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;}
.sort_wrap ul{width: 100%;text-align:center;}
.sort_wrap li{display:inline-block;margin-left: 60px;}
.sort_wrap li:first-of-type{margin-left:0;}
.sort_wrap .sort_tit{display:inline-block;margin-right:20px;}
.sort_wrap .sort_cont{display:inline-block;margin-left: 10px;}
.sort_wrap .sort_cont:first-of-type{margin-left: 0;}
.sort_wrap .sort_cont.w_150{width: 150px;}
.sort_wrap .btn_search{display:inline-block;line-height:48px;padding:0 35px;font-size:14px;color:#fff;border:none;background:#818898;text-align:center;vertical-align: top;margin-left: 10px;}
.sort_wrap .sort_rdo_cont + .btn_search{vertical-align: middle;}

/* search_wrap */
.search_wrap{margin-top: 30px;overflow: hidden;}
.search_wrap span{display:inline-block;margin-left: 10px;}
.search_wrap input{display:inline-block;width:100%;height:48px;border:1px solid #D4D8DB;background: #fff;padding:0 16px;border-radius: 0;line-height:48px;outline: 0;}
.search_wrap select {width:100%;height:48px;padding:0px 40px 0px 16px;border:1px solid #D4D8DB;border-radius: 0;background:#fff url(../images/contents/ico_select02.png) right 15px center no-repeat;appearance:none;outline: 0;-webkit-appearance:none;-moz-appearance:none;-o-appearance:none;}
.search_wrap .btn_search{margin-left: 10px;}
.search_wrap + .process_wrap{margin-top: 30px;}

/* count_area */
.count_area{margin-top: 10px;}
.count_area span,
.count_area .txt_red{margin: 0;font-weight: 700;}

/* master_box */
.master_box{position:relative;min-height:125px;background: #F9FAFC;border: 1px solid #D4D8DB;margin-top: 30px;text-align: center;padding:30px;}
.master_box.nodata:before{content:'담당자 정보가 없습니다';display:block;position:absolute;left:50%;top:50%;margin:-10px 0 0 -85px;width:auto;line-height:21px;background:url(../images/contents/ico_info.png) left center no-repeat;color:#818898;padding-left: 30px;}
.secession_area p{color:#818898;}
.secession_area .txt_red{text-decoration: underline;}