/* contents */
button{outline:none;}

/* common */
*{letter-spacing:-1.2px;}
body,html{background:#F0F2F8;}
.wrap{min-width:1400px;min-height:100%;height:100%;}

/* header */
.header{padding:30px 40px 27px 30px;}
.header:after{content:'';display:block;clear:both;}
.header .logo{float:left;}
.header .gnb{float:right;}
.gnb > a{vertical-align:top;display:inline-block;margin-right:20px;}
.gnb .user{position:relative;display:inline-block;vertical-align:top;margin-top:10px;margin-right:20px;}
.gnb .user_name{font-size:14px;color:#555;text-decoration:underline;}
.gnb .user_name.on{color:#A376FF;}
.gnb .user_list li a:hover{color:#A376FF;}
.user_box{position:absolute;width:300px;padding-top:10px;z-index:999;left:50%;margin-left:-150px;top:40px;display:none;}
.user_box:before{content:'';position:absolute;left:0;right:0;margin:0 auto;top:1px;z-index:0;display:block;width:16px;height:10px;background:url(../images/contents/bg_alarm.png) no-repeat 0 0;} 
.user_box .cont{padding:22px;position:relative;z-index:1;background:#A376FF;overflow:hidden;background:#fff;z-index:999;border-radius:20px;border: 2px solid #A376FF;box-sizing: border-box;box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);}
.user_box .user_list li a{font-size:18px;color:#555;}
.user_box .user_list li{margin-top:5px;}
.gnb .alarm{display:inline-block;position:relative;margin-right:20px;vertical-align:top;}
.gnb .alarm .num{position:absolute;z-index:9;top:-5px;right:-10px;text-indent:0;letter-spacing:0;color:#fff;background:#A376FF;font-size:11px;font-family: DoHyeon;padding:2px 5px 0;border-radius:8px;display:inline-block;}
.gnb .alarm .btn_alarm{position:relative;display:inline-block;text-indent:-9999px;color:transparent;background:#E5E9F1 url(../images/common/ico_alarm.png) no-repeat center;width:48px;height:48px;border-radius:50%;opacity: 0.8;box-shadow: 0px 0px 8px #F9FAFF, inset 0px 2px 2px rgba(0, 0, 0, 0.05);}
/* alarm box */
.alarm_box{position:absolute;width:300px;padding-top:10px;z-index:999;right:-30px;display:none;}
.alarm_box:before{content:'';position:absolute;right:45px;top:1px;z-index:0;display:block;width:16px;height:10px;background:url(../images/contents/bg_alarm.png) no-repeat 0 0;} 
.alarm_box .cont{padding-bottom:30px;position:relative;z-index:1;background:#A376FF;overflow:hidden;background:#fff;z-index:999;border-radius:20px;border: 2px solid #A376FF;box-sizing: border-box;box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);}
.alarm_box .tab_list{overflow:hidden;background:#A376FF;}
.alarm_box .tab_list li{width:50%;float:left;}
.alarm_box .tab_list li > a{width:100%;display:block;background:#8658E4;border-radius:15px 15px 0 0 ;height:43px;line-height:43px;font-size:15px;color:#fff;text-align:center;}
.alarm_box .tab_list li.on > a{background:#fff;color:#A376FF;}
.alarm_box .tab_cont{padding:0 30px;background:#fff;display:none;}
.alarm_box .tab_cont .alarm_list li{position:relative;padding:20px 0;border-bottom:1px solid #ddd;}
.alarm_box .tab_cont .alarm_list li > a{display:inline-block;margin-right:18px;}
.alarm_box .tab_cont .alarm_list li > a span{display:block;}
.alarm_box .tab_cont .alarm_list li > a span.tit{font-size:15px;color:#666;}
.alarm_box .tab_cont .alarm_list li > a span.name{font-size:15px;color:#666;}
.alarm_box .tab_cont .alarm_list li > a span.date{font-size:12px;color:#B0B0B0;letter-spacing:0;margin-top:5px;}
.alarm_box .tab_cont .alarm_list li span.btn{position:absolute;top:20px;right:0;}
.alarm_box .btn_area{text-align:center;margin-top:30px;}
.gnb .logout{font-family:Rubik;font-size:14px;color:#A3AAB6;text-shadow: 1px 1px 0px #FFFFFF;background:#E5E9F1;width:100px;height:48px;line-height:48px;text-align:center;box-shadow: -10px -10px 10px #F9FAFF, 10px 10px 10px rgba(67, 81, 92, 0.15), inset -2px -2px 2px rgba(255, 255, 255, 0.5), inset 2px 2px 2px rgba(0, 0, 0, 0.05);border-radius: 40px;letter-spacing:0;}
/* lnb */
.lnb{width:365px;float:left;}
.lnb .box{padding:30px 0 0 60px;}
.lnb .box .top li a{font-size:22px;color:#191D21;}
.lnb .box .menu{margin-top:38px;width:166px;border-bottom:1px solid #fff;}
.lnb .box .menu > li{border-top:1px solid #fff;border-bottom:1px solid #D0D6DF;}
.lnb .box .menu > li:first-child{border-top:0;}
.lnb .box .menu > li > a{font-size:18px;display:block;height:60px;line-height:60px;padding-left:25px;position:relative;}
.lnb .box .menu > li > a:before{content:'';display:block;width:12px;height:12px;background:url(../images/contents/ico_menu_plus_off.png) no-repeat 0 0;position:absolute;left:0;top:50%;margin-top:-6px;}
.lnb .box .menu > li.on > a{font-weight:bold;}
.lnb .box .menu > li.on .sub_menu{display:block;}
.lnb .box .menu .tit{padding-left:18px;font-size:16px;color:#000;height:60px;line-height:60px;display:block;}
.lnb .box .menu .tit{border-top:1px solid #D0D6DF;}
.lnb .box .menu .tit:first-child{border-top:0;}
.lnb .box .menu .sub_menu{display:none;line-height:32px;padding-bottom:20px;margin-left:20px;}
.lnb .box .menu .sub_menu > li{position:relative;padding-left:12px;margin-top:10px;}
.lnb .box .menu .sub_menu > li:first-child{margin-top:0;}
.lnb .box .menu .sub_menu > li:before{content:'';position:absolute;display:inline-block;left:0;top:50%;margin-top:-3px;width:5px;height:5px;background:#C4C4C4;border-radius:50%;}
.lnb .box .menu .sub_menu > li > a{display:block;font-size:16px;color:#666;}
.lnb .box .menu .sub_menu > li.on:before{background:#34C759;}

/* container */
.container{height:-webkit-calc(100% - 105px);height:calc(100% - 105px);;}
.container:after{content:'';display:table;clear:both;}
.contents{float:right;width:-webkit-calc(100% - 365px);width:calc(100% - 365px);height:100%;}

/* footer */
.footer.web{margin-top:100px;padding:30px;width:250px;}
.footer address{font-style:normal;color:#666;font-size:12px;text-align:left;line-height:20px;}
.footer .copy{color:#666;font-size:12px;text-align:left;line-height:20px;}

/* button */
.btn_more{position:relative;display:inline-block;width:68px;height:30px;line-height:30px;border-radius:8px;border:1px solid #D0D6DF;border-left:2px solid #D0D6DF;border-bottom:2px solid#D0D6DF;font-size:14px;color:#555;text-align:center;overflow:hidden;}
.btn_more:before{content:'';position:absolute;display:block;width:100%;height:100%;left:0;top:0;border-top:1px solid #fff;border-left:1px solid #fff;box-sizing:border-box;border-radius:8px;}

/* 반응형 태그 */
.mobile{display:none;}
.fixed{overflow:hidden;}

/* IE only */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .num .gra{background: none !important;color:#2448E0;}
}

/* MAIN */
.main_wrap{padding-right:80px;padding-bottom:50px;}
.main_list_wrap{padding-top:20px;margin-left:-40px;}
.main_list_wrap:after{content:'';display:block;clear:both;}
.main_list_wrap .cont{width:33.33%;height:356px;float:left;}
.main_list_wrap .box{position:relative;box-sizing:border-box;height:100%;margin-left:40px;background: #F0F2F8;box-shadow: -10px -10px 15px #F9FAFF, 10px 10px 15px rgba(67, 81, 92, 0.15), inset -2px -2px 2px rgba(255, 255, 255, 0.5), inset 2px 2px 2px rgba(0, 0, 0, 0.05);border-radius: 40px;}
.main_list_wrap .box.on:after{content:'';display:block;width:-webkit-calc(100% - 5px);height:-webkit-calc(100% - 5px);width:calc(100% - 5px);height:calc(100% - 5px);border-radius:40px;border:3px solid #8C9EFF;position:absolute;top:0;left:0;z-index:0;}
/* main_list, nodata */
.main_list_wrap .nodata {height:100%;}
.main_list_wrap .nodata .txt{position:relative;text-align:center;display:block;color:#B0B9C7;font-size:30px;padding:41px 0 70px;}
.main_list_wrap .nodata .txt:after{position:absolute;left:0;right:0;bottom:0;content:'';display:block;width:108px;height:36px;background:url(../images/contents/ico_spot.png) no-repeat 0 0;margin:0 auto;}
.main_list_wrap .cont.ing .nodata{background:url(../images/contents/ico_main_list_nodata01.png) no-repeat center bottom;}
.main_list_wrap .cont.process .nodata{background:url(../images/contents/ico_main_list_nodata02.png) no-repeat center bottom;}
.main_list_wrap .cont.end .nodata{background:url(../images/contents/ico_main_list_nodata03.png) no-repeat center bottom;}
/* main_list,list */
.main_list_wrap .list_cont{padding:0 40px;position:relative;height:100%;z-index:1;}
.main_list_wrap .list_cont .title_area{padding:40px 0 0;}
.main_list_wrap .list_cont .title_area .tit{text-align:center;color:#191D21;font-size:30px;}
.main_list_wrap .list_cont .title_area .num{text-align:center;margin-bottom:10px;user-select: none;}
.main_list_wrap .list_cont .title_area .num .gra{font-size:56px;font-family:Rubik;font-weight:700;background:linear-gradient(180deg, #2448E0 0%, #8C9EFF 100%);-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent;}
.main_list_wrap .list_cont .list_area .main_list{border-bottom:1px solid #fff;width:100%;}
.main_list_wrap .list_cont .list_area .main_list > li{display:table;table-layout:fixed;width:100%;border-bottom:1px solid #D0D6DF;border-top:1px solid #fff;}
.main_list_wrap .list_cont .list_area .main_list > li:first-child{border-top:0;}
.main_list_wrap .list_cont .list_area .main_list .tit{position:relative;display:table-cell;vertical-align:middle;}
.main_list_wrap .list_cont .list_area .main_list .tit > a{position:relative;display:inline-block;max-width:-webkit-calc(100% - 15px);max-width:calc(100% - 15px);font-size:15px;color:#555;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.main_list_wrap .list_cont .list_area .main_list .tit > a:hover{color:#0063FF;}
.main_list_wrap .list_cont .list_area .main_list > li.new .tit a{padding-right:20px;}
.main_list_wrap .list_cont .list_area .main_list > li.new .tit a:after{position:absolute;right:0;top:50%;margin-top:-7px;content:'';display:inline-block;width:14px;height:14px;background:url(../images/contents/ico_main_new.png) no-repeat 0 0;}
.main_list_wrap .list_cont .list_area .main_list .date{text-align:right;display:table-cell;vertical-align:middle;width:80px;height:30px;color:#555;font-size:12px;letter-spacing:0;}
.main_list_wrap .list_cont .btn_area{position:absolute;bottom:25px;left:0;right:0;text-align:center;width:100%;}
/* ROOM */
.main_room_wrap{margin-top:44px;border-top:1px solid #B0B9C7;}
.main_room_wrap .room_cont{padding:37px 0;border-top:1px solid #fff;border-bottom:1px solid #B0B9C7;}
.main_room_wrap .room_cont:after{content:'';display:block;clear:both;}
.main_room_wrap .room_cont:last-child{border-bottom:0;}
.main_room_wrap .title_area {width:200px;float:left;}
.main_room_wrap .title_area .title{font-size:20px;font-weight:normal;color:#191D21;height:auto;line-height:25px;}
.main_room_wrap .title_area .title:before{top:-13px;}
.main_room_wrap .search_area{text-align:center;float:left;width:-webkit-calc(100% - 380px);width:calc(100% - 380px);}
.main_room_wrap .search_area .nodata{font-size:22px;color:#B0B9C7;text-align:center;margin-bottom:30px;}
.main_room_wrap .search_area .box{position:relative;width:80%;padding-left:30px;height:60px;border-radius:60px;display:inline-block;background: #A3AAB6;border: 1px solid #FFFFFF;box-sizing: border-box;box-shadow: -10px -10px 10px #F9FAFF, 10px 10px 10px rgba(67, 81, 92, 0.15), inset -2px -2px 2px rgba(255, 255, 255, 0.5), inset 2px 2px 2px rgba(0, 0, 0, 0.05);}
.main_room_wrap .search_area .box:before{content:'';position:absolute;top:50%;margin-top:-8px;left:20px;display:block;width:16px;height:16px;background:url(../images/contents/ico_search.png) no-repeat 0 0;}
.main_room_wrap .search_area .box input[type="search"]{background:transparent;border:0;float:left;width:-webkit-calc(100% - 100px);width:calc(100% - 100px);height:56px;color:#fff;font-size:16px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.main_room_wrap .search_area .box input[type="search"]::placeholder{color:#fff;font-size:16px;}
.main_room_wrap .search_area .box input[type="search"]:-moz-placeholder{color:#fff;font-size:16px;}
.main_room_wrap .search_area .box input[type="search"]:-ms-input-placeholder{color:#fff;font-size:16px;}
.main_room_wrap .search_area .box button.btn_search{position:relative;top:8px;right:10px;float:left;border:0;width:100px;height:40px;background: #F0F2F8;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);border-radius: 22px;}
.main_room_wrap .room_list_area{width:-webkit-calc(100% - 380px);width:calc(100% - 380px);float:left;}
.main_room_wrap .room_list_area .room_list_btn{text-align:center;margin-top:30px;}
/* room_list, normal */
.main_room_wrap .room_list{margin:-15px -19px 0 0;}
.main_room_wrap .room_list:after{content:'';display:block;clear:both;}
.main_room_wrap .room_list li{width:33.33%;float:left;}
.main_room_wrap .room_list li .cont{position:relative;margin:15px 19px 0 0;background: linear-gradient(180deg, #7593FF 30.73%, #6C7DD9 100%);height:40px;border-radius:40px;line-height:35px;}
.main_room_wrap .room_list li .cont .box{display:table;width:100%;table-layout:fixed;padding-left:10px;}
.main_room_wrap .room_list li .cont .box > span{color:#fff;vertical-align:middle;display:table-cell;height:40px;font-size:14px;text-align:center;}
.main_room_wrap .room_list li .cont .box > span.tit{text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.main_room_wrap .room_list li .cont .box > span.ico{width:21px;}
.main_room_wrap .room_list li .cont .box > span.ico img{margin-top:5px;display:inline-block;}
.main_room_wrap .room_list li .cont .box > span.num{width:45px;padding-right:10px;}
.main_room_wrap .room_list li .cont .box > span.btn{width:82px;}
.main_room_wrap .room_list li .cont .box > span.btn .btn_join{display:inline-block;height:33px;text-align:center;line-height:33px;width:76px;background: #F0F2F8;border: 1px solid #FFFFFF;box-sizing: border-box;box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15), inset 0px 2px 2px #FFFFFF;border-radius: 22px;}
.main_room_wrap .room_list li .cont .box > span.btn_close{position:absolute;top:-5px;right:-5px;}
.main_room_wrap .room_list li > .btncont{margin:15px 19px 0 0;}
.main_room_wrap .room_list li > .btncont .btn_more{margin-top:5px;}
/* room_list, type2 */
.main_room_wrap .room_list.type2 .cont{background: #E5E9F1;box-shadow: 0px 0px 8px #F9FAFF, inset 0px 2px 2px rgba(0, 0, 0, 0.05);}
.main_room_wrap .room_list.type2 .cont .box > span{color:#555;}
/* room_list, type3 */
.main_room_wrap .room_list.type3 .cont{background: linear-gradient(180deg, #B5BECE 0%, #A3AAB6 100%);box-shadow: 0px 0px 8px #F9FAFF, inset 0px 2px 2px rgba(0, 0, 0, 0.05);}
/* room_list, big */
.main_room_wrap .room_list.big .cont{height:109px;border-radius:16px;}
.main_room_wrap .room_list.big .cont .box{position:relative;display:block;padding:20px;height:100%;}
.main_room_wrap .room_list.big .cont .box > span{display:inline-block;height:auto;}
.main_room_wrap .room_list.big .cont .box > span.ico{width:auto;position:absolute;top:15px;right:15px;}
.main_room_wrap .room_list.big .cont .box > span.ico img{display:inline-block;margin-left:5px;}
.main_room_wrap .room_list.big .cont .box > span.tit{display:block;padding-right:18px;}
.main_room_wrap .room_list.big .cont .box > span.num{position:absolute;bottom:24px;left:20px;width:auto;text-align:left;}
.main_room_wrap .room_list.big .cont .box > span.btn{position:absolute;bottom:20px;right:20px;width:auto;}
.main_room_wrap .room_list.big .cont .box > span.btn .btn_join{font-size:14px;border-radius:8px;color:#545557;}
/* room, btn */
.main_room_wrap .btn_area{width:180px;float:left;text-align:right;margin-top:5px;}
.main_room_wrap .btn_bookmark_add{display:inline-block;}
.main_room_wrap .btn_bookmark_add span{color:#A3AAB6;position:relative;padding-right:58px;}
.main_room_wrap .btn_bookmark_add span:after{content:'';position:absolute;right:0;top:50%;margin-top:-24px;width:48px;height:48px;border-radius:50%;display:inline-block;background: #F0F2F8 url(../images/contents/ico_add.png) no-repeat center;opacity: 0.8; box-shadow: -10px -10px 10px #F9FAFF, 10px 10px 10px rgba(67, 81, 92, 0.15), inset -2px -2px 2px rgba(255, 255, 255, 0.5), inset 2px 2px 2px rgba(0, 0, 0, 0.05);}
.main_room_wrap .btn_bookmark_add.txt_none span{font-size:0;line-height:0;color:transparent;}

/* 나의 회원 상태 */
.join_panel_box{margin-left:-40px;margin-top:30px;margin-bottom:60px;}
.join_panel_box:after{content:'';display:block;clear:both;}
.join_panel_box li{width:25%;float:left;}
.join_panel_box li .cont{display:block;height:198px;margin-left:40px;border: 1px solid #D4D8DB;box-sizing: border-box;box-shadow: 0px 2px 4px #EFF2F7;border-radius: 16px;}
.join_panel_box li .cont span{display:block;}
.join_panel_box li .cont .box{padding:33px 20px;position:relative;}
.join_panel_box li .cont .box:after{content:'';position:absolute;top:15px;right:15px;display:block;width:24px;height:24px;background:url(../images/contents/ico_plus_off.png) no-repeat 0 0;}
.join_panel_box li .cont .box .tit{border-bottom:1px solid #D4D8DB;padding-bottom:18px;text-align:center;font-size:24px;color:#222;}
.join_panel_box li .cont .box .num{user-select: none;vertical-align:middle;text-align:center;}
.join_panel_box li .cont .box .num em{font-size:24px;color:#818898;}
.join_panel_box li .cont .box .num .gra{vertical-align:middle;display:inline-block;margin-right:5px;font-size:56px;font-family:Rubik;font-weight:700;background:linear-gradient(180deg, #2448E0 0%, #8C9EFF 100%);-webkit-background-clip:text;background-clip:text;-webkit-text-fill-color:transparent;}
.join_panel_box li.on .cont{background: linear-gradient(180deg, #7694FF 0%, #687DF2 100%);box-shadow: 0px 2px 4px #EFF2F7;}
.join_panel_box li.on .cont .box .tit{color:#fff;border-bottom:1px solid rgba(255,255,255,0.5);}
.join_panel_box li.on .cont .box .num em{color:#fff;}
.join_panel_box li.on .cont .box .num .gra{color:#fff;background:none;-webkit-text-fill-color:#fff;}
.join_panel_box li.on .cont .box:after{background:url(../images/contents/ico_plus_on.png) no-repeat 0 0;}
.join_list_box{margin-top:30px;}
.join_list_box li{margin-top:21px;background: #F9FAFC;border: 1px solid #D4D8DB;box-sizing: border-box;border-radius: 8px;}
.join_list_box li:first-child{margin-top:0;}
.join_list_box li .tb{display:table;width:100%;table-layout:fixed;}
.join_list_box li .cell{display:table-cell;height:82px;vertical-align:middle;text-align:center;}
.join_list_box li .cell.num{width:100px;}
.join_list_box li .cell.tit{text-align:left;}
.join_list_box li .cell.name{width:150px;}
.join_list_box li .cell.count{width:150px;}
.join_list_box li .cell.date{width:200px;}
.join_list_box li .cell.state{width:120px;}
.join_list_box li .cell.num span{display:inline-block;width:36px;height:31px;line-height:31px;font-size:16px;color:#191D21;background: #F0F2F8;text-align:center;border-radius: 4px;}
.join_list_box li .cell.tit{width:65%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.join_list_box li .cell .stit{position:relative;padding-right:10px;margin-right:10px;color:#666;font-size:16px;}
.join_list_box li .cell .data{color:#222;font-size:16px;}
.join_list_box li .cell .stit:after{content:'';display:inline-block;position:absolute;top:50%;margin-top:-7px;right:0;width:1px;height:15px;background:#BDBDBD;}
.join_list_box li .cell.state .ico{text-align:center;width:70px;height:37px;line-height:37px;color:#fff;background:#7694FF;display:inline-block;background: #7694FF;border-radius: 8px;}
.join_list_box li .cell.state .ico.join{background:#7694FF;}
.join_list_box li .cell.state .ico.settle{background:#455BA9;}
.join_list_box li .cell.state .ico.return{background:#F44462;}

/* 스케쥴러 */
.schedule_wrap{padding-right:80px;padding-bottom:89px;}
.schedule_search_box{margin-top:25px;}
.schedule_search_box:after{content:'';display:block;clear:both;}
.schedule_search_box .select_area{float:left;width:calc(100% - 123px);padding:0 0 12px;text-align:center;background: #F0F2F8;box-shadow: -10px -10px 15px #F9FAFF, 10px 10px 15px rgba(67, 81, 92, 0.15), inset -2px -2px 2px rgba(255, 255, 255, 0.5), inset 2px 2px 2px rgba(0, 0, 0, 0.05);border-radius: 40px;}
.schedule_search_box .tit{display:inline-block;padding-right:16px;font-size:16px;color:#000;}
.schedule_search_box .select_area .box{display:inline-block;margin-left:10px;padding-top:12px;}
.schedule_search_box .select_area .box:first-child{margin-left:0;margin-right:4%;}
.schedule_search_box .btn_area{float:right;width:103px;margin-top:0;margin-left:20px;}
.schedule_search_box .btn_area .btn_search{font-size:18px;color:#B0B0B0;border:none;height:64px;width:103px;background: #F0F2F8;box-shadow: -10px -10px 10px #F9FAFF, 10px 10px 10px rgba(67, 81, 92, 0.15), inset -2px -2px 2px rgba(255, 255, 255, 0.5), inset 2px 2px 2px rgba(0, 0, 0, 0.05);border-radius: 30px;}
.inp_radio_box{margin-right:10px;}
.inp_radio_box input[type="radio"]{display:none;}
.inp_radio_box label{position:relative;display:inline-block;padding-left:30px;font-size:16px;margin-right:10px;}
.inp_radio_box input[type="radio"] + label:before{content:'';position:absolute;top:50%;left:0;margin-top:-12px;width:24px;height:24px;border-radius:50%;display:inline-block;vertical-align:middle;background: #F0F2F8;opacity: 0.2;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35), inset 0px 5px 15px rgba(0, 0, 0, 0.5);}
.inp_radio_box input[type="radio"] + label:after{content:'';position:absolute;left:6px;top:50%;margin-top:-6px;width:12px;height:12px;border-radius:50%;display:inline-block;background: #F2F4F9;box-shadow: 0px 2px 7px #B0B9C7, inset 0px 5px 15px rgba(255, 255, 255, 0.2);}
.inp_radio_box input[type="radio"]:checked + label:after{background: #7694FF;box-shadow: 0px 2px 7px #B0B9C7, inset 0px 5px 15px rgba(255, 255, 255, 0.2);}
.inp_select_box{display:inline-block;width:280px;}
.inp_select_box:after{content:'';display:block;clear:both;}
.inp_select_box label{float:left;margin-right:20px;height:40px;line-height:40px;display:block;}
.inp_select_box .select{position:relative;display:inline-block;width:100%;}
.inp_select_box .select select{border:none;background:transparent;width:100%;height:40px;position:relative;z-index:1;}
.inp_select_box .select:after{content:'';box-sizing:border-box;width:42px;height:40px;background:#F0F2F8 url(../images/contents/ico_select03.png) no-repeat center;position:absolute;right:0;top:0;display:block;border: 1px solid #B0B9C7;box-sizing: border-box;box-shadow: 1px 1px 0px #FFFFFF;border-radius: 5px;z-index:0;}
.inp_select_box .select:before{content:'';box-sizing:border-box;position:absolute;left:0;top:0;display:block;width:-webkit-calc(100% - 48px);width:calc(100% - 48px);height:40px;background: #E5E9F1;box-shadow: 0px 0px 8px #F9FAFF, inset 0px 2px 2px rgba(0, 0, 0, 0.05);border-radius: 5px;z-index:0;}

.schedule_box{margin-top:60px;position:relative;}
.schedule_box .tit{font-size:20px;color:#191D21;}
.schedule_box .date_box{position:absolute;left:0;top:0;width:100%;text-align:center;height:25px;}
.schedule_box .date_box > span{position:relative;display:inline-block;vertical-align:top;height:25px;}
.schedule_box .date_box > span a{display:inline-block;}
.schedule_box .date_box .btn_calendar{position:relative;display:inline-block;padding-right:40px;margin:0 10px;}
.schedule_box .date_box span:nth-child(2){margin:-1px 6px 0;}
.schedule_box .date_box span:nth-child(2):after{content:'';cursor:pointer;display:inline-block;width:32px;height:34px;position:absolute;z-index:0;right:0;top:50%;margin-top:-14px;background:url(../images/contents/ico_cal02.png) no-repeat 0 0;}
.schedule_box .date_box .datepicker{border:0;position:relative;cursor:pointer;z-index:1;background:transparent;height:15px;font-size:15px;width:105px;letter-spacing:0;padding:0;margin:0 5px;}
.schedule_box .date_box .datepicker:read-only{color:#000 !important;background:transparent !important;}
.conference_list{margin-top:30px;}
.conference_list > li{margin-top:20px;}
.conference_list > li:first-child{margin-top:0;}
.conference_list > li:after{content:'';display:block;clear:both;}
.conference_list .room_number_tit{width:150px;height:133px;float:left;position:relative;}
.conference_list .room_number_tit .cont{position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.conference_list .room_number_tit .tit{color:#555;font-size:17px;cursor:pointer;}
.conference_list .room_number_tit .tit:hover + .info{display:block;}
.conference_list .room_number_tit .info{width:138px;position:absolute;bottom:25px;left:45px;z-index:10;display:none;}
.conference_list .room_number_tit .info:after{content:'';display:block;width:23px;height:15px;background:url(../images/contents/bg_room_info.png) no-repeat center bottom;}
.conference_list .room_number_tit .info .box{background: #FFFFFF;box-shadow: 3px 3px 10px rgba(32, 32, 35, 0.07);border-radius: 10px 10px 10px 0;padding:20px;}
.conference_list .room_number_tit .info .box .list li{font-size:12px;}
.conference_list .room_number_tit .info .box .list .s_list{padding-left:5px;}
.conference_list .schedule_chk_box{float:left;width:-webkit-calc(100% - 150px);width:calc(100% - 150px);height:133px;background: #E5E9F1;box-shadow: 0px 0px 8px #F9FAFF, inset 0px 2px 2px rgba(0, 0, 0, 0.05);border-radius: 10px;}
.schedule_chk_box .cont{position:relative;padding:18px 0 0;margin:0 0 0 8%;}
.schedule_chk_box .cont:after{content:'';display:block;clear:both;}
.schedule_chk_box .time_list{white-space:nowrap;}
.schedule_chk_box .time_list li{cursor:pointer;position:relative;height:80px;text-align:left;vertical-align:top;width:4.5%;color:#B0B9C7;letter-spacing:0;text-indent:-18px;float:left;}
.schedule_chk_box .time_list:after{content:'';display:block;clear:both;}
.schedule_chk_box .time_list li.on{color:#191D21;}
.schedule_chk_box .time_list li:nth-child(even){font-size:0;}
.schedule_chk_box .time_list li:after{position:absolute;bottom:0;left:0;}
.schedule_chk_box .time_list li:nth-child(odd):after{content:'';display:inline-block;height:32px;width:2px;border-radius:1px;background:#7694FF;bottom:0;}
.schedule_chk_box .time_list li:nth-child(even):after{content:'';display:inline-block;height:16px;width:2px;border-radius:1px;background:#D0D0D3;bottom:8px;}
.schedule_chk_box .sel_area{bottom:-20px;left:9%;position:absolute;z-index:10;width:18%;height:72px;}
.schedule_chk_box .sel_area .box{position:absolute;left:0;bottom:0;width:100%;background: #7694FF;height:100%;border-radius:10px;border: 1px solid #6486EB;box-sizing: border-box;text-align:center;}
.schedule_chk_box .sel_area .info{font-size:15px;color:#fff;padding-top:14px;width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.schedule_chk_box .sel_area .time{font-size:15px;color:#fff;letter-spacing:0;width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

/* login */
.login_wrap{width:600px;margin:120px auto;background: #F0F2F8;box-shadow: -10px -10px 15px #F9FAFF, 10px 10px 15px rgba(67, 81, 92, 0.15), inset -2px -2px 2px rgba(255, 255, 255, 0.5), inset 2px 2px 2px rgba(0, 0, 0, 0.05);border-radius: 40px;}
.login_wrap .title{margin-bottom:40px;}
.login_wrap .cont{padding:60px 120px;}
.login_wrap .cont .inp_box{margin-top:40px;}
.login_wrap .cont .inp_box:first-child {margin-top:0;}
.login_wrap .cont .inp_box label{display:block;font-size:20px;color:#222;}
.login_wrap .cont .inp_box .inp{width:100%;display:block;position:relative;}
.login_wrap .cont .inp_box .inp input{width:100%;background:transparent;border:0;border-radius:0;border-bottom:1px solid #ccc;padding-left:30px;height:60px;}
.login_wrap .cont .inp_box .inp:before{content:'';display:block;width:24px;height:24px;position:absolute;left:0;top:50%;margin-top:-12px;}
.login_wrap .cont .inp_box.id .inp:before{background:url(../images/contents/ico_user.png) no-repeat 0 0;}
.login_wrap .cont .inp_box.pw .inp:before{background:url(../images/contents/ico_pw.png) no-repeat 0 0;}
.login_wrap .cont .select_area{margin-top:22px;overflow:hidden;}
.login_wrap .cont .style_chk{float:left;}
.login_wrap .cont .style_chk label {color:#666666;}
.login_wrap .cont .style_chk input[type="checkbox"] + label span{background-size:100%;}
.login_wrap .cont .btn_list{float:right;overflow:hidden;}
.login_wrap .cont .btn_list li{float:left;padding-left:15px;margin-left:15px;position:relative;}
.login_wrap .cont .btn_list li:first-child:before{display:none;}
.login_wrap .cont .btn_list li:first-child{margin-left:0;padding-left:0;}
.login_wrap .cont .btn_list li:before{content:'';display:block;width:1px;height:12px;background:#DEDEDE;position:absolute;left:0;top:50%;margin-top:-6px;}
.login_wrap .cont .btn_list li a{color:#222;font-size:14px;}
.login_wrap .cont .btn_login{border:0;width:100%;background: #7694FF;font-size:16px;text-align:center;color:#fff;height:58px;border-radius: 8px;box-shadow:0px 10px 40px rgba(0, 0, 0, 0.15);}
.login_wrap .cont .join_box{margin-top:44px;}
.login_wrap .cont .join_box:after{content:'';display:block;clear:both;}
.login_wrap .cont .join_box .tit{font-size:22px;color:#222;vertical-align:middle;float:left;margin-top:15px;}
.login_wrap .cont .join_box .btn_join{box-shadow:0px 10px 40px rgba(0, 0, 0, 0.15);border:0;color:#fff;font-size:16px;height:58px;width:132px;float:right;background: #455BA9;border-radius: 8px;}

/* step */
.step_box{width:100%;margin-top:46px;padding:20px;border-bottom:1px solid #F0F3F7;}
.step_list{overflow:hidden;}
.step_list li{position:relative;float:left;color:#8392A7;width:33.33%;text-align:center;word-break:keep-all;}
.step_list li:nth-child(1):before{content:'1';}
.step_list li:nth-child(2):before{content:'2';}
.step_list li:nth-child(3):before{content:'3';}
.step_list li:before{position:relative;z-index:1;width:40px;height:40px;margin:0 auto 4px;display:block;line-height:40px;text-indent:-2px;font-weight:bold;font-size:16px;color:#8392A7;text-align:center;border-radius:50%;background: #F9FAFC;border: 1px solid #F0F3F7;box-sizing: border-box;box-shadow:0px 2px 4px #EFF2F7;}
.step_list li:after{content:'';position:absolute;top:20px;left:0;width:100%;height:1px;background:#D4D8DB;z-index:0;}
.step_list li.next{color: #455BA9;}
.step_list li.next:before{border: 1px solid #455BA9;color: #455BA9;box-shadow: 0px 2px 4px #EFF2F7;}
.step_list li.next:after{background:#455BA9;}
.step_list li.on{color: #455BA9;}
.step_list li.on:before{border: 1px solid #455BA9;background:#455BA9;color: #fff;box-shadow: 0px 2px 4px #EFF2F7;}
.step_list li.on:after{background:#455BA9;}
.agree_box{border:1px solid #D4D8DB;height:282px;overflow-y:auto;margin-top:30px;border-radius:4px;margin-bottom:10px;}
.agree_box .cont{padding:22px;}

.join_end_box{margin:60px auto;width:905px;background: #FFFFFF;border: 3.05841px solid #D4D8DB;box-sizing: border-box;box-shadow: 0px 6px 12px #EFF2F7;border-radius: 48px;}
.join_end_box .cont{padding:65px;}
.join_end_box .cont .txt_area{text-align:center;}
.join_end_box .cont .txt_area:after{content:'';display:block;margin-top:7px;height:225px;width:100%;background:url(../images/contents/bg_join_end.png) no-repeat center top;}
.join_end_box .cont .txt_area .tit{font-size:40px;display:block;margin-bottom:26px;}
.join_end_box .cont .txt_area .tit > *{font-size:40px;}
.join_end_box .cont .txt_area .txt{font-size:16px;color:#666;}
.join_end_box .cont .btn_area{text-align:center;margin-top:40px;}

/* calendar */
.ui-widget.ui-widget-content{border:0;box-sizing: border-box;box-shadow: 100px 100px 85px rgba(32, 32, 35, 0.07);border-radius: 30px;}
.ui-datepicker{padding:36px;border:0;width:382px;}
.ui-datepicker .ui-datepicker-title{background:none;border:none;}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year{letter-spacing:0;font-family:Rubik;font-weight:bold;color:#7694FF;border:none;background:none;padding:0;font-size:16px;z-index:1;position:relative;}
.ui-datepicker select.ui-datepicker-year{width:50px;}
.ui-datepicker-title:after{content:'.';display:inline-block;color:#7694FF;position:absolute;left:8px;right:0;margin:10px auto 0;font-size:16px;z-index:0;}
.ui-datepicker select.ui-datepicker-month{width:30px;}
.ui-datepicker .ui-datepicker-header{padding:0;height:50px;margin-bottom:20px;}
.ui-datepicker .ui-datepicker-header select{height:50px;}
.ui-widget-header{background:none;border:0;}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{z-index:10;background: #FFFFFF;border: 1px solid #F2F2F2;box-sizing: border-box;border-radius: 4px;width:50px;height:50px;}
.ui-datepicker .ui-datepicker-prev-hover{left:2px;top:2px;}
.ui-datepicker .ui-datepicker-next-hover{right:2px;top:2px;}
.ui-datepicker .ui-datepicker-prev span{background:url(../images/contents/ico_cal_prev.png) center;}
.ui-datepicker .ui-datepicker-next span{background:url(../images/contents/ico_cal_next.png) center;}
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,.ui-button,.ui-button.ui-state-disabled:hover,.ui-button.ui-state-disabled:active{padding:0;letter-spacing:0;border:0;width:45px;height:45px;color:#7694FF;text-align:center;display:inline-block;background:none;line-height:45px;border-radius:4px;}
.ui-state-default:hover{background:rgba(118,148,255,0.1);}
.ui-state-default.ui-state-active{background:#7694FF;color:#fff;}
.ui-datepicker table{table-layout:fixed;}
.ui-datepicker th span{color:#ABABAB;font-size:12px;}
.ui-datepicker th,.ui-datepicker td{width:45px;height:45px;padding:0;text-align:center;}

/* color */
.point1{color:#F44462;}
.point2{color:#455BA9;}
input::placeholder{color:#B0B0B0;}
input:-ms-input-placeholder{color:#B0B0B0;}
input:-moz-placeholder{color:#B0B0B0;}